<style>
    .box {
        padding: 10px;
        height: max-content;
        margin: 50px auto;
        border-radius: 10px;

    }

    .right {
        margin-left: 500px;
        padding-right: 10px;
    }

    .left {
        margin-right: 500px;
        padding-left: 10px;
    }
</style>

<br><br>

<div style="padding: 10px; width: fit-content; border-radius: 10px; font-size: large; font-family:Verdana, Geneva, Tahoma, sans-serif;" class="container">
    Dreaming of owning a Vehicle? The JPAG Vehicle Loan aims to ensures that you drive around the city in your own vehicle!
    Avail a car loan, or opt for a pre-approved car loan, and get the best interest rates. JPAG New Vehicle Loan
    offers
    car loans from Rs. 1 Lakh upto 100% on-road price along with benefits. Before applying for a car loan online,
    make sure to use the car loan calculator to find out your EMI. Apply for an Axis Bank New Car Loan and make your
    dream
    of owning a car come true.
</div>

<div class="container box border border-danger">

    <br>
    <h1 class="text-danger fw-bold" align="center">Loans that we offer</h1><br>
    <hr>
    
   

    <table class="table table-hover text-danger">
        <thead class="thead-light">
            <tr>
                <th scope="col" class="fs-5">S. No.</th>
                <th scope="col" class="fs-5">Scheme Name</th>
                <th scope="col" class="fs-5">Details</th>
            </tr>
        </thead>
        <tr *ngFor="let offer of alloffers; index as i">
            <th scope="row" class="text-dark">{{i+1}}</th>
            <!-- <td>{{offer.offerId}}</td> -->
            <td class="fs-4 text-decoration-underline">{{offer.loansname }}</td>
            <td class="text-dark">
                <br>
                <h3 class="fs-4">Loan Amount (₹): {{offer.loanamount}}</h3>
                <h3 class="fs-4">Rate (%): {{offer.loanrate}}</h3>
                <h3  class="fs-4">Duration (months) : {{offer.loantenuremonths}}</h3>
                <h3  class="fs-4">Monthly EMI (₹): {{offer.loanemiamount}}</h3>
                <h3  class="fs-4">Processing Fee (₹): {{offer.processingfee}}</h3>
                <br>
            </td>
           
        </tr>
    </table>

    <!-- <div class="loan" style="border-radius: 10px;" *ngFor="let offer of alloffers">
        <h2>{{offer.loansname}}</h2>
        <hr>
        <h3>Loan Amount (₹): {{offer.loanamount}}</h3>
        <h3>Rate (%): {{offer.loanrate}}</h3>
        <h3>Duration (months) : {{offer.loantenuremonths}}</h3>
        <h3>Monthly EMI (₹): {{offer.loanemiamount}}</h3>
        <h3>Processing Fee (₹): {{offer.processingfee}}</h3>
        <br>
        <br>
    </div> -->
    <br>
    <br><br>
</div>