<div class="mt-sm-20" style="visibility: hidden; ">.</div>
<div class=" mt-sm-20">
 <div class="d-flex justify-content-center">
    <img src="assets/heading.png" class="img-responsive" style="height: 8vh;"></div>


    <div class="col">
        <div class="row-sm-3">
<img class="img-responsive w-100" [src]="about1" >
        </div>
        <div class="row-sm-9">
            <br>
            Looking to buy a new vehicle? Axis Bank’s New Vehicle Loan offers vehicle loans from Rs. 1 Lakh upto 100% on-road funding along with a host of benefits that include attractive interest rates, comfortable tenure, Reward points, etc. Before applying for a vehicle loan online, make sure to use the vehicle loan calculator to find out your EMI. Apply for an JPAG Bank New vehicle Loan and make your dream of owning a vehicle come true.
            <br>
            
            Up to 100% on-road funding, Special Benefits for priority banking and others.
            <br>
        <br>
            <h2>Features and Benefits</h2>
          <ul>
              <li>Get high-value vehicle loans</li>
              <li>Attractive scheme for Electric vehicle funding</li>
              <li>Easily calculate vehicle loan value</li>
              <li>Instant sanction</li>
              <li>Benefit from a high LTV ratio</li>
              <li>Special schemes and benefits</li>
              <li>Loan for every category of customer</li>
              <li>Different Loan offers available</li>

          </ul>  
          

         <h2> General Documents: </h2>
<ul>
    <li>Aadhaar Card</li>
    <li>Pan Card</li>
    <li>Six months Salary Slip</li>
    <li>Passport Size Photo</li>
</ul>

        </div>
    </div>
</div>

<div class="mb-sm-20" style="visibility: hidden; ">.</div>