<div class="container">
    <h1 class="text-center text-bold">Larsen & Turbo Infotech</h1>
    <div class="col">
        <div class="row-sm-3">
<img class="img-responsive w-100" [src]="about" style="height: 90vh;">
        </div>
        <div class="row-sm-9">
            LTI (NSE: LTI) is a global technology consulting and digital solutions Company helping more than 435 clients succeed in a converging world. With operations in 31 countries, we go the extra mile for our clients and accelerate their digital transformation with LTI’s Mosaic platform enabling their mobile, social, analytics, IoT and cloud journeys.

Founded in 1997 as a subsidiary of Larsen & Toubro Limited, our unique heritage gives us unrivalled real-world expertise to solve the most complex challenges of enterprises across all industries.

Each day, our team of more than 36,000 LTItes enable our clients to improve the effectiveness of their business and technology operations and deliver value to their customers, employees and shareholders.
        </div>
    </div>
</div>