<div class="container change">
  <br>
  <h1 class="mb-4 header text-danger" align="center">Change Password </h1>
  <hr><br>

  <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-4">
    <form [formGroup]="change" (ngSubmit)="reset()">

      <div class="form-group mb-4"><label for="formch" class="form-label">New Password</label>
        <!-- Password input -->
        <input type="password" id="formch" name="UserPassword" formControlName="UserPassword"
          placeholder="Enter New Password" class="form-control ">
      </div>
      <div *ngIf="!UserPassword?.valid && (UserPassword?.dirty ||UserPassword?.touched)" class="error text-danger"
        role="alert">
        <div *ngIf="UserPassword?.errors?.required">
          Password required
        </div>
        <div *ngIf="UserPassword?.errors?.pattern" class="error text-danger" role="alert">
          <p> Type a secured password consisting of </p>
          <li>
            lowercase character
          </li>
          <li>
            uppercase character
          </li>
          <li>
            special character
          </li>
          <li>
            number
          </li>
          <li>
            minimum = 8
          </li>
          <li>
            maximum = 20
          </li>
        </div>
      </div>


      <div class="form-group mb-4"><label for="formch" class="form-label">Confirm Password</label>
        <!-- Password input -->
        <input type="password" id="formch" name="Password" formControlName="cnfpwd"
          placeholder="Enter Confirmed Password" class="form-control ">
      </div>
      <div *ngIf="!cnfpwd?.valid && (cnfpwd?.dirty ||cnfpwd?.touched)" class="error text-danger" role="alert">
        <div *ngIf="cnfpwd?.errors?.required">
          Password required
        </div>
      </div>

        <!-- <div *ngIf="cnfpwd?.errors?.pattern" class="error text-danger" role="alert">
          <p> Type a secured password consisting of </p>
          <li>
            lowercase character
          </li>
          <li>
            uppercase character
          </li>
          <li>
            special character
          </li>
          <li>
            number
          </li>
          <li>
            minimum = 8
          </li>
          <li>
            maximum = 20
          </li>
        </div> -->
     
      <button type="submit" class="btn btn-danger btn-block text-center signin"> Reset </button>


    </form>




  </div>
</div>