<div class="container logincontainer" >
    <h1 class="mb-4 header text-danger" align="center">Admin Login</h1>
            <hr>
            <br>
      <div  class="col-md-6 offset-md-3 col-lg-4 offset-lg-4 loginbox">
        <form [formGroup]="adminlogin" (ngSubmit)="Admincredentials()">
          <div class="form-group mb-4"><label for="form1Example1"
              class="form-label">Email address</label>
              <!-- Email input -->
              <input type="text" id="form1Example1" name="email" formControlName="email" class="form-control "></div>
              <div *ngIf="!Email?.valid && (Email?.dirty || Email?.touched)" class="error text-danger" role="alert">
                <div *ngIf="Email?.errors?.required"><!--here the name firstname is from get method that is inside the ts file-->
                  User Name is required
                </div>
                <div *ngIf="Email?.errors?.pattern"class="error text-danger" role="alert">
                    Username unacceptable
                  </div>
                </div>
    
          <div  class="form-group mb-4"><label  for="form1Example2"
              class="form-label">Password</label>
              <!-- Password input -->
              <input  type="password" id="form1Example2"
              name="password" formControlName="password" class="form-control "></div>
              <div *ngIf="!Password?.valid && (Password?.dirty || Password?.touched)" class="error text-danger" role="alert">
                <div *ngIf="Password?.errors?.required"><!--here the name firstname is from get method that is inside the ts file-->
                  Password required
                </div>
                <div *ngIf="Password?.errors?.pattern"class="error text-danger" role="alert">
                    Type a secured password
                  </div>
                </div>
          <div  class="row mb-4">
            <div  class="col d-flex">
              <div  class="form-check">
                <input  type="checkbox" id="form1Example3"  class="form-check-input"><label  for="form1Example3"
                  class="form-check-label"> Remember me </label></div>
            </div>
            <div  class="col"><a  href="#!">Forgot password?</a></div>
          </div><button  type="submit" class="btn btn-danger btn-block text-center signin" routerLink="/admin-nav" >Sign in</button>
          <br><br><div  class="col"><p>Not an Admin? &nbsp;<a routerLink="/Login">Login here</a></p></div>
        </form>
      </div>
    </div>