.logincontainer
{
  margin-top: 100px
}
.loginbox OR registerbox
{
  border: 1px solid #ccc;
  padding: 20px;
}
.header
{
  font-size: 27px;
  /* text-decoration: underline; */
  text-align: center;
}
.signin OR register
{
  text-align: center;
  width: 100%;
  display: inline-block;
}