<style>
  .spacer{
    flex: 1 1 auto;
  }
  mat-toolbar a {
    display: inline-block;
    margin: 0 10px;
    color: whitesmoke;
    text-decoration: none;
    
  }
  
</style>

<mat-toolbar class="bg-primary" >
    <mat-toolbar-row>
      <button mat-icon-button class="text-light" >
        <mat-icon (click)="sidenav.toggle()" >menu</mat-icon>
      </button>
      <span class="spacer" ></span>
      <h1 class="text-light" align="center">Welcome Admin</h1>
      <span class="spacer" ></span>
      <a style="text-size-adjust : small;" href="#">Log Out</a>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #sidenav opened="true"   >
      <mat-nav-list color="text-light" >
        <a mat-list-item routerLink="admin-dash">Dashboard</a>
        <a mat-list-item routerLink="vehicles">Vehicles</a>
        <a mat-list-item routerLink="loan-Applications">Applications</a>
        <a mat-list-item routerLink="approved-loans">Approved Loans</a>
        <a mat-list-item routerLink="rejected-list">Rejected List</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="height: 88vh;;">
        <router-outlet>
        </router-outlet>
      </div>
    </mat-sidenav-content>
</mat-sidenav-container>