<br><br>
<div class="container forgot">

  <h1 class="mb-4 header text-danger fw-bold" align="center">Forgot Password </h1>
  <hr><br>

  <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-4">
    <form [formGroup]="forgot" (ngSubmit)="emailsubmit()">

      <div class="form-group mb-4"><label for="form1Example1" class="form-label fs-5">Email address</label>
        <!-- Email input -->
        <input type="text" id="form1Example1" name="UserEmail" placeholder="Enter Email Id" formControlName="UserEmail"
          class="form-control ">
      </div>
      <div *ngIf="!UserEmail?.valid && (UserEmail?.dirty || UserEmail?.touched)" class="error text-danger" role="alert">
        <div *ngIf="UserEmail?.errors?.required">
          <!--here the name firstname is from get method that is inside the ts file-->
          Email is required
        </div>
        <div *ngIf="UserEmail?.errors?.pattern" class="error text-danger" role="alert">
          Email doesn't exist
        </div>
      </div>
      <div *ngIf="InUse === false">
        <p class="error text-danger" role="alert">Email does not exist</p>
      </div>

      <button type="submit" class="btn btn-danger btn-block text-center signin" [disabled]="!forgot.valid"> Send OTP </button>
    </form>
<br>
    <form [formGroup]="otp" (ngSubmit)="otpsubmit()">
      <div class="form-group mb-4"><label for="form2ex1" class="form-label fs-5">OTP</label>
        <!-- Email input -->
        <input type="number" id="form2ex1" name="OTP" placeholder="Enter OTP" formControlName="OTP"
          class="form-control ">
      </div>
      <div *ngIf="!OTP?.valid && (OTP?.dirty ||OTP?.touched)" class="error text-danger" role="alert">
        <div *ngIf="OTP?.errors?.required">
          <!--here the name firstname is from get method that is inside the ts file-->
          OTP is required
        </div>
      </div>
      <button type="submit" class="btn btn-danger btn-block text-center signin" [disabled]="!otp.valid"> Verify </button>
      <div *ngIf="alertmsg === false">
        <p class="error text-danger" role="alert">OTP Invalid</p>
      </div>

    </form>
  </div>
</div>