<style>
    .box
    {
        padding: 10px;
        height: max-content;
        margin: 50px auto;
        border-radius: 10px;
        
    }
    .right
    {
        margin-left: 500px;
        padding-right: 10px;
    }

    .left
    {
        margin-right: 500px;
        padding-left: 10px;
    }
    

</style>

<br><br>

<div class="container box border border-danger">
    <!-- <div class="bg-danger" style="padding: 10px; width: fit-content; border-radius: 10px;">
        <h2 class="text-light">Loan Offers</h2>
    </div> -->
   
    <br>
    <h2 class="text-danger" align="center">Below are the Loan Offers for Your Vehicle</h2><br>
    <hr>
    <br>
    <div class="row left">
        <div class="loan bg-dark text-light" style="border-radius: 10px;">
            <br>
          
            <h4 class="text-decoration-underline text-danger">Car Finance Loan</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium enim nihil sint dolores est dolor quisquam ab aperiam explicabo quos. Ipsam recusandae deleniti quis tenetur repellat minus laborum repellendus voluptatum.</p>
          <button type="button" class="btn btn-outline-danger" routerLink="/Loan Quotes">Apply Now</button>
          <br>
            <br>
        </div>
    </div>
    <br>
    <div class="row right">
        <div class="loan bg-dark text-light" style="border-radius: 10px;">
            <br>
          
            <h5>Loan Offer 2</h5>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum odio quo quod porro perferendis explicabo sunt consectetur dolorem praesentium assumenda, eaque eos sequi quis alias ea labore magnam blanditiis ratione!</p>
          <button type="button" class="btn btn-outline-danger">Apply Now</button>
            <br>
            <br>
        </div>
    </div>
    <br>
    <div class="row left">
        <div class="loan bg-dark text-light" style="border-radius: 10px;">
            <br>
         
            <h5>Loan Offer 3</h5>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum odio quo quod porro perferendis explicabo sunt consectetur dolorem praesentium assumenda, eaque eos sequi quis alias ea labore magnam blanditiis ratione!</p>
          <button type="button" class="btn btn-outline-danger">Apply Now</button>
            <br>
            <br>
        </div>
    </div>
    <br>
    <div class="row right">
        <div class="loan bg-dark text-light" style="border-radius: 10px;">
            <br>
         
            <h5>Loan Offer 4</h5>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum odio quo quod porro perferendis explicabo sunt consectetur dolorem praesentium assumenda, eaque eos sequi quis alias ea labore magnam blanditiis ratione!</p>
          <button type="button" class="btn btn-outline-danger">Apply Now</button>
            <br>
            <br>
        </div>
    </div>
<br>


    
</div>  