<style>
    .box {
        padding: 10px;
        height: max-content;
        margin: 50px auto;
        border-radius: 10px;

    }

    .right {
        margin-left: 500px;
        padding-right: 10px;
    }

    .left {
        margin-right: 500px;
        padding-left: 10px;
    }
</style>

<br><br>

<div style="padding: 10px; width: fit-content; border-radius: 10px; font-size: large;" class="container">
    Dreaming of owning a car? The Axis Bank Car Loan aims to ensures that you drive around the city in your own vehicle!
    Avail a car loan, or opt for a pre-approved car loan, and get the best interest rates. Axis Bank’s New Car Loan
    offers
    car loans from Rs. 1 Lakh upto 100% on-road price along with benefits. Before applying for a car loan online,
    make sure to use the car loan calculator to find out your EMI. Apply for an Axis Bank New Car Loan and make your
    dream
    of owning a car come true.
</div>

<div class="container box border border-danger">

    <br>
    <h1 class="text-danger fw-bold" align="center">Below are the Loan Offers for Your Vehicle</h1>
    <hr>
  
   
    <br>
    <div class="loan" style="border-radius: 10px;" *ngFor="let offer of useroffers">
        <h2>{{offer.loansname}}</h2>
        <hr>
        <h3>Loan Amount : {{offer.loanamount}}</h3>
        <h3>Monthly EMI : {{offer.loanemiamount}}</h3>
        <p>Check the amount and monthly EMI of the offer and apply for the loan now. Documents to be uploaded during apply loan are Aadhaar card, Pan card, Passport size photo and Six months salary slip.
            These documents are necessary to apply loan and fill all the necessary details that are asked in the process of applying loan. There are no online apply loan charges. Beware of fake websites. 
            We do not ask applicants to pay extra amount or any internet charges.
        </p>
        <button type="button" class="btn btn-outline-danger" [routerLink]="['/user-tabs/',offer.loanid]" 
            (click)="setvehid(offer.loanid);selectLoan(offer);">Apply Now</button>
        <br>
        <br>
    </div>
    <br>
    <br><br>
</div>